a {
    text-decoration: none;
}

.main {
    margin-top: 80px;
}

.category {
    background-size: cover;
    position: relative;
    z-index: 1;
    /* padding: 110px 0 124px; */
    min-height: 400px;
    background-position: center center;

    .go_back {
        font-size:20px;
        font-weight: 700;
        letter-spacing: -.025em;
        color: #fff;
        cursor: pointer;
    }

    a{
        display: flex;
        justify-content: center;
        color: white;
        padding-bottom: 10px;
        
    }

    .category_name {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        letter-spacing: -.025em;
        font-size: 80px;
        margin-bottom: 40px;
    }

    .category_list {
        
        .list {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                margin: 10px;
                width: 180px;
                height: 180px;
            }

            a {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                background-color: white;
                color: black;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: -0.025em;

                &.All {
                    background-color: #5865F5;
                    color: white;
                }
            }
        }
    }

    .category_link {
        max-width: 1200px;
        margin: 98px auto 20px;
        text-align: right;

        a {
            display: inline-block;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: -.025em;
            color: #fff;
            margin-left: 2em;
        }

        img {
            transform: translate(20%, 20%);
        }
    }
}


.tapMenu_wrapper {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
    transform: translateY(-50%);
    display: none;

    .tapMenu_list {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            background-color: black;
            width: 400px;
            height: 80px;

            a {
                color: #888888;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                font-size: 18px;
                font-weight: 700;

                &.active {
                    width: 100%;
                    height: 100%;
                    color: #ffffff;
                    background-color: #5865F5;
                }
            }
        }
    }
}
.list_info_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 30px 10px;

    .list_info{
        display: flex;
        align-items: center;
        justify-content: center;

        .list_info_name{
            font-weight: 700;
            font-size: 24px;
            letter-spacing: -.025em;
        }
        .list_info_num{
            /* vertical-align: 2px; */
            font-size: 20px;
            letter-spacing: -.025em;
            color: #888;
        }
    }
    .item_sort{
        display: flex;
        font-size: 16px;
        /* line-height: 1.5; */
        letter-spacing: -.025em;
        color: #888;
        position: relative;
        z-index: 20; /* z-index 값을 더 높게 설정 */
        width: 240px;
        justify-content: space-between;
        
        li {

            a {
                width: 26px;
                text-decoration: none;
                color: #888;
            }
        }
    }
}

.sort_active {
    color: #222 !important;
    border-bottom: 2px solid #222;
    font-weight:600;
}

.list_container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px;
    width: 100%;
    margin-bottom: 80px;
    /* margin: 80px 0 160px; */
    gap: 24px;
    
    h3{
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -.025em;
        justify-content: flex-start;
        margin: 16px 0 6px 0;
    }

    p{
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        height: 3em;
        margin-bottom: 1.125em;
        font-size: 16px;
        letter-spacing: -.025em;
        color: #666;
    }

    span {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0;
        color: #222;
    }

    .item {    
        display: flex;
        flex-direction: column;
        float: left;
        position: relative;
        margin-top: 24px;
        width: calc(25% - 18px);    
        padding: 32px 40px 56px;
        line-height: 1.5;
        background-color: #f4f7fa;
        transition: width .4s, height .4s;

        img {
            width:100%;

        }
        
    }

    .color-button {
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 2px;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        background-color: #fff !important;
        margin-left: 3px;

        &:hover {
            border-color: #000;
        }
        
        .color-button-inner {
            display: inline-block;
            width: 14px;
            height: 14px;
            vertical-align: top;
            border-radius: 50%;
            background-color: #000;
            cursor: pointer;
            border:none;
        }
    }
}

.display_none {
    display:none !important;
}
