:root {
    --color-black: #000;

    --animation-duration: 300ms;
}

* {
    -webkit-box-sizing: content-box;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR";
    overflow-x: hidden;
}

h2 {
    display: flex;
    justify-content: center;
    color:#222;
    font-weight: 700;
    margin-bottom: calc(7.3px + 1.8vw);
    font-size:calc(-7.4px + 2.8vw);
}

h3 {
    display: flex;
    justify-content: center;
    color:#222;
    font-weight: 700;
    margin-bottom: calc(7.3px + 1.8vw);
    font-size:calc(12px + 1.4vw);
}

.section_pd {
    padding: calc(-8.7px + 6.5vw) 24px;
}

.pd_6vw {
    padding: calc(-8.7px + 6.5vw) 0 36px;
}

.pointer {
    cursor: pointer;
}

/*header*/
.header_pc {
    position: fixed;
    top:0;
    left:0; 
    width:100%;
    height:4em;
    font-size:20px;
    font-family: 'Noto Sans KR', serif;
    padding:10px;
    z-index:100;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    letter-spacing: -0.025em;
    transition: .2s;

    .logo {
        margin:10px;
        margin-right:auto;
        width:100px;
        z-index:1;
        
        .logo_img {    
            width:100%;
        }
    }

    .header_pc_icon_menu {
        margin-left: auto;
        width:150px;
        margin:10px;
        display:flex;
        justify-content: space-between;
        z-index:1;

        img {
            margin-left:20px;
        }
    }

    .gnb {
        width:100%;
        position: absolute;
        left:0;

        .secondary_menu_bg{
            position:absolute;
            left:0;
            top:80px;
            display: flex;
            justify-content: center;
            width:100%;
            height:0;
            overflow:hidden;
            background-color: var(--color-black);
            transition: height .2s ease-out;

            .secondary_menu {
                position:absolute;
                display:flex;
                width:1000px;;
                margin: 0 auto;

                .secondary_menu_list {
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    flex: 0 1 20%;

                    li {
                        width:100%;

                        &:nth-last-child(1) {
                            padding-bottom: 52px;
                        }

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width:100%;
                            height:54px;
                            text-decoration: none;
                            color:#ccc;
                            font-weight:400;
                            transition: color .2s ease-out;

                            &:hover {
                                color:#5865f5;
                            }
                        }    
                    }
                }
            }
        }

        .gnb_menu {
            display: flex;
            width:1000px;
            height: 100%;
            margin: 0 auto;
            color:white;
            font-weight:600;

            li {
                flex: 0 1 20%;
            }

            .gnb_title {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80px;
                font-size: 1em;
                font-weight: 500;
                letter-spacing: 0.025em;
                text-decoration: none;
                color:#fff;
                transition: border-bottom .2s ease-out;
                transition: color .2s ease-out;
            }
        }
    }       
}

.menu_active {
    background-color: #111;
}

.menu_active_border {
    border-bottom: 3px solid #5865f5;
    color:#5865f5 !important;
}

.header_pc_hide {
    top: -4em;
}
/*header-end*/


/*body*/

/* banner */
    .banner {
        max-height:calc(100vh - 80px);
        max-width:100%;
        overflow: hidden;
        position: relative;
        margin-top:80px;

        .swiper-button-prev{
            width:50%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            cursor: url('../img/arrow_left.png'), auto;

            &:after {
                content: "";
            }
        }

        .banner_contents {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 38%;
            left:180px;
            transform: translateY(-50%);
            width:100%;
            color: rgb(248, 248, 248);

            .banner_title_box {
                display: flex;

                .banner_title {
                    font-size: 124px;
                    font-weight: bold;
                    margin-right: 0.25em;
                }
            }

            .banner_item {
                margin: 48px 0 108px 0;
                font-size:18px;
                font-weight: 400;
            }

            .banner_view {
                font-weight: bold;
                padding: 30px 10px 30px 0;
                font-size: 20px;
            }
        }
        
        .swiper-button-next{
            width:50%;
            height:100%;
            position:absolute;
            top:0;
            right:0;
            cursor: url('../img/arrow_right.png'), auto;

            &:after {
                content: "";
            }
        }
        .swiper-slide {
            width: 100%;
            height: auto;
            overflow: hidden;
            
            img {
                width:100%;
                height:100%;
                object-fit: cover;
            }

            video {
                width: 100%;
            }
        }

        .banner_perv {
            font-size: 550px;
            color:white;
            z-index: 1001;
        }

        .swiper-pagination {
            position:absolute;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            transform: translateX(-2%);
            bottom: 2.5rem;
            color: white;
            font-weight:bold;
        }
    }
/* banner end*/

/*duplicate swiper section*/
.wrap {
    max-width: 1920px;
    max-height:940px;
    display: flex;
    background-color: #f4f4f4;
    font-family: 'Noto Sans KR', serif;
}

.box {
    width: 50%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box.style01 {
    padding-left:5%;
    
}

.box.style02 {
    overflow: hidden;
}

.main-slide {
    width:100%;
}

.main_img {
    img {
        width:100%;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.sub_swiper_title {
    color: rgb(116, 116, 116);
    opacity:0;
    display: -webkit-box;
    overflow: hidden;
    height: 2.5em;
    margin-bottom: 24px;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 700;
    font-size: 2.3vw;
    line-height: 1.25;
    letter-spacing: -.025em;
}

.sub_swiper_name {
    margin-top: 16px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.375;
    letter-spacing: -.025em;
    color: #222;
    opacity:0;
}

.sub_swiper_desc {
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 0;
    color: #666;
    opacity: 0;
}

.opacity_1 {
    opacity: 1;
}

.sub_img {
    position:relative;
    top:50%;
    width:80%;
    background-color: white;
    
    &:after {
            content: "";
            display:block;
            padding-bottom: 100%;
    }

    img {
        position:absolute;
        width: 100%;
        height: 100%;
        transition: all var(--animation-duration) ease-in-out;

        &:hover {
            scale: 1.2;
        }
    }
}

/*duplicate swiper section - end*/

/* event section */

.event_box_w100 {
    background-image: url("../img/event_bg_1.jpg");
    width: 100%;
    height: 30vw;
    padding:12vw 12vw 7vw 17vw;
    background-position: center center;
    background-size: 100%;

    .event_contents {
        display: flex;
        flex-direction: column;
    }
}

.event_title {
    color: #222;
    line-height: 1.375;
    font-size: 2vw;
    font-weight: 600;
    letter-spacing: -0.02em;
    width: 80%;
}

.event_info {
    color:#666;
    font-size: 1vw;
    line-height: 1.375;
    margin-top: 5px;
    width: 80%;
}

.event_item_container {
    width: 100%;
    display: flex;
    margin-top: 1.5vw;

    .event_item_w33 {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-size: 100%;
        height:30vw;
        background-position: center;
        transition: background-size .2s ease-in-out;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 2vw;
        margin-right: 15px;
        background-repeat: no-repeat;

        &:nth-child(1) {
            background-image: url("../img/main_event_img_1.jpg");
        }

        &:nth-child(2) {
            background-image: url("../img/main_event_img_2.jpg");
        }

        &:nth-child(3) {
            background-image: url("../img/main_event_img_3.jpg");
            margin-right:0;
        }

        &:hover {
            background-size:110%;
        }
    }
}

.event_more_view {
    text-decoration: none;
    color: #000;
    font-size: calc(6px + 0.7vw);
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top:2vw;
}

/* event section end */

/* product_section */

.gray_bg_section {
    width: 100vw;
    background-color: #f4f4f4;

    .product_container{
        width:100%;
        display:flex;

        .product_item{
            display: flex;
            flex: 0 1 25%;
            flex-direction: column;
            background-size: 20vw;
            height:30vw;
            justify-content: flex-end;
            padding-bottom: 2vw;
            background-repeat: no-repeat;
            background-position: 10vw 40px;
            transition: background .2s ease-out;
            padding: 26vw 2.8vw 2.8vw;
            border-right: 1px solid #e4e4e4;


            &:hover {
                background-position-x: 50%;
                background-color: #5865f5;
            }

            span {
                color: #222;
                font-weight: 700;
                font-size: calc(0.2px + 1.4vw);
            }
        }
    }
}
/* product_section end */

/* main hr_banner_section */
    .hr_banner{
        background-image: url("../img/pc_hr_banner.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 23vw;
        color: #000;
        position:relative;
        top:50%;

        .hr_banner_contents {
            position: relative;
            top: 50%;
            transform: translateY(-30%);

            .hr_banner_text {
                font-size: calc(12.2px + 1.4vw);
                font-weight: 700;
                line-height: 1.4;
                letter-spacing: -.025em;
                display: block;
                text-align: center;
            }
        }
    }

/* main hr_banner_section end */

/* main helf */

.main_helf {
    padding: 60px calc(27px + 3vw);
    display:flex;
    justify-content: space-between;

    .main_helf_banner_text{
        font-size: calc(12.2px + 1.4vw);
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: -.025em;
    }

    .main_helf_lists {
        display:flex;
 
        .main_helf_list {
            background-repeat: no-repeat;
            background-position: center center;
            background-size : calc(0.5px + 2.8vw);
            height: 100px;  
            display:flex;
            align-items: flex-end;
            width: calc(21px + 7.2vw);
            justify-content: center;

            &.notice {
                background-image: url("../img/main_help_notice.svg");
            }

            &.location {
                background-image: url("../img/main_help_location.svg");
            }

            &.service {
                background-image: url("../img/main_help_service.svg");
            }

            &.advice {
                background-image: url("../img/main_help_advice.svg");
            }

            a {
                text-decoration: none;
                color: #222;
                font-weight: 700;
                line-height: 1.4;
                letter-spacing: -.025em;
                font-size: calc(5px + 0.7vw);
            }
        }  
    }
}

/* main helf end*/

/* footer */
.footer {
    z-index: 900;
    padding-bottom: 64px;
    position:relative;
    color: #bbb;
    background-color: #000;

    .footer_inner {
        padding: 100px 90px;
        display:flex;
        line-height: 1.5;

        .footer_left {
            display: flex;
            flex-direction: column;
            width: 60vw;

            .footer_link_box {

                .footer_link {
                    text-decoration: none;
                    color: #bbb;
                    padding: 0 15px;
                    letter-spacing: -0.025em;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: .875em;
                        transform: translate(-16px, 6px);
                        background-color: #666
                    }

                    &:nth-child(1) {
                        padding-left:0;

                        &:before {
                            display:none;
                        }
                    }
                }

                .footer_social_box {
                    width: 50vw;
                }
            }

            .footer_warning {
                position: relative;
                padding-left: .75em;
                font-size: 12px;
                letter-spacing: -.025em;
                margin-top: 1.5em;

                p {
                    margin-top: 6px;

                    &:before {
                        position:absolute;
                        content: "*";
                        left: -.5px;
                    }
                }

                .footer_confirm_link{
                    display:flex;
                    position: relative;
                    
                    a {
                        color: #888;

                        &:after {
                            position: absolute;
                            top:7px;
                            content: "";
                            display: inline-block;
                            width: 5px;
                            height: 5px;
                            margin-left: 4px;
                            margin-right: 12px;
                            transform: rotate(45deg);
                            border-top: 1px solid #888;
                            border-right: 1px solid #888;
                        }

                        &:nth-last-child(1) {
                            padding-left: 20px;
                        }
                    }
                }
            }

            .address {
                clear: both;
                max-width: 861px;
                margin-top: 18px;
                font-size: 14px;
                line-height: 1.57;
                letter-spacing: -.025em;
                color: #888;

                span {
                    display:inline-block;
                    color:#888;
                    word-break: keep-all;
                    word-wrap: break-word;
                }
            }
        }

        .footer_right {
            color: #bbb;

            .footer_social_box{
                display:flex;

                .footer_social_title{
                    font-size: 24px;
                }

                .footer_social_icon_box {
                    margin-left: 40px;

                    .footer_social_icon {
                        text-decoration: none;
                        filter: grayscale(1) brightness(1.75);
                        margin-left: 40px;

                        img {
                            width:32px;
                            height:32px;
                        }

                        &:hover {
                            filter: none;
                        }
                    }
                }
            }
            
            .footer_family {
                margin-top: 40px;
                display: flex;

                .drop_up {
                    position: relative;
                    display: inline-block;
                    width: 276px;
                    height:50px;
                    font-size: 14px;
                    background-color: #222;

                    .drop_up_btn {
                        color:#888;
                        padding: 16px;
                        cursor: pointer;
                        background:none;
                        width:100%;
                        height:100%;
                        text-align: left;
                        border:none;
                        display: flex;
                        justify-content: space-between;

                        i {
                            scale: 1.2;
                            transform: translateY(30%);
                        }
                    }

                    .sony_family_content {
                        display: none;
                        position: absolute;
                        background-color: #222;
                        padding: 16px;
                        bottom: calc(100% + 8px);
                        z-index: 120;
                        width: 100%;

                        .sony_family_title{
                            color:#fff;
                            font-weight: 400;
                            font-size:16px;

                        }

                        ul {
                            margin:8px 0 24px 0;

                            &:nth-last-child(1) {
                                margin: 8px 0 0 0;
                            }

                            li {
                                list-style: none;
    
                                a {
                                    color: #888;
                                    text-decoration: none;
                                    display: block;
                                    padding: 5px 0;
                                    font-size: 14px;
                                    font-weight:500;
    
                                    &:hover {
                                        color:#5885f5;
                                    }
                                }
                            }
                        }
                    }
                    .show_family {
                        display:block;
                    }
                }
            }

            .sony_global_link  {
                margin-left:8px;
                width: 276px;
                height:50px;
                font-size: 14px;
                background-color: #222;
                color:#888;
                padding: 16px;
                cursor: pointer;
                border:none;
                display: flex;
                justify-content: space-between;

                i {
                    scale: 1.2;
                    transform: translateY(30%);
                }
            }
        }
    }
}

/* go top */
.go_top {
    position: fixed;
    right: 25px;
    bottom: -100px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #5865f5;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: .2s;
}

.go_top_show {
    bottom: 25px;
}

/* footer end */


/*body-end*/

/*footer*/
/*footer-end*/

@media (min-width: 1920px) {
    
    .wrap {
        max-width: none;
        max-height: none;
    }

}